<!DOCTYPE html>
<html>
  <head>
    <title>Staffseatbooking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <body class="login">
      <div class="container body">
       <div class="main_container">
           <%= react_component 'Menu' %>
       </div>
      </div>
    </body>
  </body>
</html>
